.App {
  text-align: center;
}


body{
  background-color: #b89f3c;
}

button{
  padding: 10px;
  color: rgb(128, 19, 0);
  margin: 4px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #7396dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(31, 24, 24);
}

.App-link {
  color: #33b9df;
}
